@import "../fonts/FONTS/stylesheet.css";

body,
p,
a {
  /* font-family:'Gotham Pro','Rajdhani','Heebo',Arial, Helvetica, sans-serif ; */
  /* font-size: calc(1em + 5px) !important; */
  /* font-weight: 200 !important; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family:'Rajdhani','Heebo','Gotham Pro',Arial, Helvetica, sans-serif ; */
  /* font-size: calc(1.3em + 17px) !important; */
  /* font-weight: 700 !important; */
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar {
  height: 100px;
  transition: height 0.3s linear;
}
.navbar-scrolled {
  height: 65px;
  background-color: #164863 !important;
  transition: height 0.3s linear;
  backdrop-filter: blur(6px);
}
.navbar-brand img {
  width: 80px;
  height: 80px;
  transition: width 0.3s linear; /* Add a smooth transition effect */
}
.navbar-scrolled .navbar-brand img {
  width: 50px;
  height: 50px;
  transition: width 0.3s linear; /* Add a smooth transition effect */
}
.navbar-nav .nav-link.active {
  color: #3498db !important;
  /* border-bottom: 1px solid gray; */
}

.above-section-title {
  color: #45aed6;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
#features {
  /* background: url("../images/landing-page/Zero-ones.png") no-repeat; */
  /* background-position: center; Center the image */
  /* background-size: cover; */
  background-color: #ffffff;
  padding: 20px 0px;
}
#features .feature-item h4 {
  font-weight: bold;
  font-size: large;
}
#features .feature-item p {
  font-size: 14px;
  text-align: center;
  margin-top: 7px;
}
#features .feature-item img {
  width: 10rem;
}
#our-products {
  padding-bottom: 28rem;
  padding-top: 18rem;
  background: url("../images/landing-page/Back-girl.png") no-repeat;
  background-position: center; /* Center the image */
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
#our-products .zero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.circular-div {
  box-shadow: 0 0 0 5px rgb(179 179 179 / 29%);
  height: 100px;
  width: 100px;
  /* border: 5px solid gray; */
  background-color: white;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}
.circular-div img {
  height: 80%;
  width: 80%;
}
.line-circular-div {
  height: 80%;
  width: 80%;
  border: 1px solid #52b3e5;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.circular-component .title {
  margin-top: 2rem;
  font-size: x-large;
  font-weight: bold;
  color: white;
}
.custom-shape-divider-bottom-1697398097 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1697398097 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 110px;
}

.custom-shape-divider-bottom-1697398097 .shape-fill {
  fill: #ffffff;
}

.statistic-image {
  position: relative;
  top: -10rem;
}
@media screen and (max-width: 768px) {
  .statistic-image {
    position: static !important;
  }
}

#fintastech-resources {
  background: url("../images/landing-page/BG-CAR.png") no-repeat;
  background-position: center; /* Center the image */
  background-size: cover;
  background-attachment: fixed;
}

#choose-us .img-title {
  font-weight: bold;
}
/* #contact-us .item-img{
  position: relative;    top: 20px; 
 } */
#contact-us .img-title {
  font-size: x-large;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 2rem;
}
#financial-services {
  background-color: #427d9d;
}
#financial-services .card-image {
  height: 25rem;
}
#location {
  background-color: #427d9d !important;
}
#location .contact-color {
  color: #b6b5b5;
}
#location .item {
  align-items: center;
  /* margin-bottom: 1rem; */
}
#location .site-map .item {
  margin-bottom: 4px;
  transition: padding-left 0.3s ease;
  cursor: pointer;
}
#location .site-map .item:hover {
  margin-bottom: 4px;
  padding-left: 10px;
}
#location .item h5 {
  padding-left: 2px;
  font-size: 1rem;
  margin: 0px;
}

#location .contact-info .item h5 {
  padding-left: 10px;
  font-size: 12px;
  margin: 0px;
}
#location .contact-info .item svg {
  width: 17px;
}
#location .input-container {
  position: relative;
  width: 300px; /* Adjust the width as needed */
}

/* Style for the input field */
#location .input-container input {
  background-color: #a9a2a2;
  width: 100%;
  padding-right: 40px; /* Adjust the padding to make space for the button */
}

/* Style for the button */
#location .input-container button {
  position: absolute;
  top: 3px;
  right: 5px;
  height: 80%;
}
#location .input-container input::placeholder {
  color: black; /* Replace with your desired color */
  /* padding-left: 8px; */
}
.nav-item a {
  color: white !important;
  font-size: medium;
}

/* curves */

/* .contact-curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.contact-curve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
}

.contact-curve .shape-fill {
  fill: #171d33;
} */

/* fintastech-resources-top-wave */
.fintastech-resources-top-wave {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.fintastech-resources-top-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 69px;
}

.fintastech-resources-top-wave .shape-fill {
  fill: white;
}

/* fintastech-resources-bottom-wave */
.fintastech-resources-bottom-wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.fintastech-resources-bottom-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 69px;
}

.fintastech-resources-bottom-wave .shape-fill {
  fill: white;
}

/* financial-services-bottom-wave */
.financial-services-bottom-wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  line-height: 0;
  /* transform: rotate(180deg); */
  z-index: 1;
}

.financial-services-bottom-wave img {
  position: relative;

  width: 100%; /* This ensures that the image takes up 100% of its container width */
  height: auto; /* This maintains the aspect ratio while allowing the image to resize */
  display: block; /* This removes any default spacing issues with inline elements */
  margin: 0 auto;
  max-height: 120px;
}

.financial-services-bottom-wave .shape-fill {
  fill: #171d33;
}

/* contact-us-bottom-wave */
.contact-us-bottom-wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  line-height: 0;
  /* transform: rotate(180deg); */
  z-index: 1;
}

.about-us-bottom-wave img {
  position: relative;
  width: 100%; /* This ensures that the image takes up 100% of its container width */
  height: auto; /* This maintains the aspect ratio while allowing the image to resize */
  display: block; /* This removes any default spacing issues with inline elements */
  margin: 0 auto;
  max-height: 180px;
}

.about-us-bottom-wave .shape-fill {
  fill: #c32c2c;
}

/* main-slider-bottom-wave */
.main-slider-bottom-wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  line-height: 0;
  /* transform: rotate(180deg); */
  z-index: 1;
}

.main-slider-bottom-wave .wave-image {
  position: relative;
  width: 100%; /* This ensures that the image takes up 100% of its container width */
  height: auto; /* This maintains the aspect ratio while allowing the image to resize */
  display: block; /* This removes any default spacing issues with inline elements */
  margin: 0 auto;
  max-height: 222px;
}

.main-slider-bottom-wave .shape-fill {
  fill: #c32c2c;
}
/* our-products-top-wave */
.our-products-top-wave {
  position: absolute;
  top: -7px;
  left: 0;
  width: 100%;
  line-height: 0;
  /* transform: rotate(180deg); */
  z-index: 1;
}

.our-products-top-wave .wave-image {
  position: relative;
  width: 100%; /* This ensures that the image takes up 100% of its container width */
  height: auto; /* This maintains the aspect ratio while allowing the image to resize */
  display: block; /* This removes any default spacing issues with inline elements */
  margin: 0 auto;

  max-height: 170px;
}

/* main-slider-bottom-wave */
.our-products-bottom-wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  line-height: 0;
  /* transform: rotate(180deg); */
  z-index: 1;
}

.our-products-bottom-wave .wave-image {
  position: relative;
  width: 100%; /* This ensures that the image takes up 100% of its container width */
  height: auto; /* This maintains the aspect ratio while allowing the image to resize */
  display: block; /* This removes any default spacing issues with inline elements */
  margin: 0 auto;
  max-height: 200px;
}

.main-slider-bottom-wave .shape-fill {
  fill: #c32c2c;
}
@media screen and (max-width: 768px) {
  #our-products {
    padding-top: 7rem;
  }
}
.nav-social {
  margin-left: 5rem;
}
@media screen and (max-width: 991px) {
  .nav-social {
    margin-left: 0rem;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 2rem !important;
  }
}

#fearure-line-image {
  position: absolute;
  right: 0px;
  z-index: 1;
  top: -32px;
  width: 400px;
}
@media (max-width: 992px) {
  #fearure-line-image {
    width: 300px;
  }
}
@media (max-width: 992px) {
  #fearure-line-image {
    top: -10px;
  }
}
.item-div {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}
@media (max-width: 992px) {
  .our-products-line {
    display: none;
  }
}
/* @media (max-width: 768px){

  .item-div{
      padding-left: 0rem!important; 
      padding-right: 0rem!important; 
  }
} */
@media only screen and (max-width: 576px) {
  .item-div {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}
.about-us-margin {
  margin-top: 10rem !important;
}
@media (max-width: 576px) {
  .about-us-margin {
    margin-top: 4rem !important;
  }
}
#location {
}
.dots-image {
  height: 100%;
  width: 100%;
  background-image: url("../images/landing-page/Footer/dots-pattern.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
}
.responsive-button {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: white;
  color: #3d404b;
  border-radius: 15px;
  font-weight: bold;
  position: absolute;
  bottom: 34%;
  left: 34%;
  padding: 5px 31px;
}

/* Responsive adjustments using media queries */
@media (max-width: 576px) {
  .responsive-button {
    font-size: 4px;
    width: 14%;
    padding: 2px 3px;
  }
}
@media (min-width: 576px) {
  .responsive-button {
    font-size: 6px;
    padding: 3px 20px;
  }
}

@media (min-width: 768px) {
  .responsive-button {
    font-size: 8px;
    padding: 4px 23px;
  }
}
@media (min-width: 992px) {
  .responsive-button {
    font-size: 11px;
    padding: 5px 29px;
  }
}

@media (min-width: 1200px) {
  .responsive-button {
    font-size: 12px;
    padding: 6px 38px;
  }
}
/* @media (min-width: 1400px) {
  .responsive-button {
    font-size: 13px;
    padding: 5px 35px;
  }
} */
@media (min-width: 1400px) {
  .responsive-button {
    font-size: 14px;
    padding: 6px 44px;
  }
}
/* @media (max-width: 768px) {
  #location .input-container input::placeholder {
      font-size: 8px;
    }
}
 */
.img-width {
  width: 90%;
}

@media (max-width: 992px) {
  .img-width {
    width: 100%;
  }
  .responsive-button {
    left: 38%;
  }
}

.scroll-down-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 650px) {
  .scroll-down-image {
    display: none;
  }
}
@media only screen and (max-height: 400px) {
  .scroll-down-image {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .about-us-pragraph br {
    display: none;
  }
}
.contact-two-person {
  display: flex;
  align-items: end;
}
@media only screen and (max-width: 768px) {
  .contact-two-person {
    display: none;
  }
}

.btn-close {
  background: url("../images/landing-page/close-navbar.png") !important;
}
.offcanvas-header {
  justify-content: end !important;
}

.offcanvas-body .navbar-nav .nav-item {
  transition: padding-left 0.3s ease;
}
.offcanvas-body .navbar-nav .nav-item:hover {
  padding-left: 10px !important;
}

.hidden-text {
  opacity: 0 !important;
  transition: opacity 1s ease-in-out;
}

.visible-text {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .our-process-pargraph br {
    display: none;
  }
}
.financial-services-contact-item h3 {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 0px;
  color: #6f6969;
}
.financial-services-contact-item p {
  font-size: small;
  color: hsl(0, 3%, 42%);
}
.financial-services-contact-item svg {
  width: 35px;
  height: 50px;
}
@media only screen and (max-width: 600px) {
  .financial-services-contact-item h3 {
    font-size: 13px;
    font-weight: bold;
  }
  .financial-services-contact-item p {
    font-size: 10px;
    color: #6f6969;
  }
  .financial-services-contact-item svg {
    width: 25px;
    height: 35px;
  }
}

.field[_ngcontent-ng-c3117738433] {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 10px;
  z-index: 9999;
}
.mouse[_ngcontent-ng-c3117738433] {
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 60px;
  position: relative;
}
@keyframes c3117738433_wheel {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    opacity: 0;
    top: 40px;
  }
}
.mouse[_ngcontent-ng-c3117738433]:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  background-color: #59646a;
  border-radius: 50%;
  opacity: 1;
  animation: c3117738433_wheel 2s infinite;
  -webkit-animation: c3117738433_wheel 2s infinite;
}
.offcanvas-start {
  width: 100% !important;
}
/* .mobileMenu section {
  pointer-events: none;
} */

/* .financial-services-space-between-cols {
  --bs-gutter-x: 3rem !important;
}
@media (max-width: 576px) {
  .financial-services-space-between-cols {
    --bs-gutter-x: 0rem !important;
  }
} */
/* .wave-small-screens{
display: none !important;
}
.wave-large-screens{
display: none !important;
} */
@media only screen and (max-width: 576px) {
  .wave-small-screens {
    display: block !important;
  }
  .wave-large-screens {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .wave-small-screens {
    display: none !important;
  }
  .wave-large-screens {
    display: block !important;
  }
}

/* scroll issue */
@media only screen and (max-width: 1024px) {
  #our-products {
    background-attachment: initial;
  }
  #fintastech-resources {
    background-attachment: initial;
  }
}

#map {
  height: 180px;
}
.custom-shape-divider-bottom-1704891844 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
}

.custom-shape-divider-bottom-1704891844 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 208px;
}

.custom-shape-divider-bottom-1704891844 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1704892743 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
}

.custom-shape-divider-top-1704892743 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 208px;
  bottom: -2px;
}

.custom-shape-divider-top-1704892743 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1705072827 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1705072827 svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 155px;
  bottom: -2px;
}

.custom-shape-divider-bottom-1705072827 .shape-fill {
  fill: #427d9d;
}

.custom-shape-divider-bottom-1705075057 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1705075057 svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 155px;
}

.custom-shape-divider-bottom-1705075057 .shape-fill {
  fill: #ffffff;
}

.service-card-items {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  /* overflow-y: scroll; */
  padding: 0px 6px;
}
.service-card-items .service-card-item {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

/*  */

.custom-shape-divider-bottom-0202030302030 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-0202030302030 svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 155px;
  bottom: -2px;
  z-index: 1;
}

.custom-shape-divider-bottom-0202030302030 .shape-fill {
  fill: #ffffff;
}
/*  */

.custom-shape-divider-bottom-1705101740 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
  bottom: -2px;
}

.custom-shape-divider-bottom-1705101740 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1705101740 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1705102665 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1705102665 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1705102665 .shape-fill {
  fill: #ffffff;
}
